body {
  font-family: 'Fira Code', 'Source Code Variable', Consolas, 'Courier New',
    monospace;
  font-size: 16px;
}

#filter {
  position: fixed;
  top: 0;
  right: 0;
  width: 6rem;
  margin-right: 2rem;
}
#filter > div {
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.filter-type {
  background-color: burlywood;
}
.filter-item {
  background-color: sandybrown;
}

footer {
  height: 30vh;
}

li {
  padding: 1rem;
  border-bottom: 1px solid #aaa;
}

li:hover {
  background: linear-gradient(0deg, skyblue, white 1rem);
}

.dib {
  display: inline-block;
}

.dn {
  display: none;
}

.name-box {
  width: 40rem;
}

.date-box {
  width: 20rem;
}
